<div layout="column"  class="root-container">
	<div layout="row">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<button type="button" aria-label="Toggle sidenav" mat-icon-button 
					(click)="drawer.toggle()" color="warn">
					<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
				</button>
				<span>Pharmacy</span>
				<span type=button  style="font-size: .8em;position: relative;left: 1130px;" onclick="window.location.pathname='/logout/'" data-toggle="modal" data-target="#exampleModal">Logout</span>
			</mat-toolbar-row>
		</mat-toolbar>
	</div>
	<div class="side-bar-container" layout="row">
		<div layout="column">
			<mat-sidenav-container>
				<mat-sidenav #drawer mode="side" opened role="navigation" class="side-bar">
					<mat-nav-list>
						<h2 matSubheader> Suppliers </h2>
						<a mat-list-item routerLinkActive="active-list-item" routerLink='/pharmacy/addsupplier'>
							<mat-icon>person_add</mat-icon> &nbsp;
							<span> Add Supplier </span> 
						</a>
						<a mat-list-item routerLinkActive="active-list-item" routerLink='/pharmacy/viewsuppliers'>
							<mat-icon>people</mat-icon> &nbsp;
							<span> Supplier List </span> 
						</a>
					</mat-nav-list>
					<mat-nav-list>
						<h2 matSubheader> Medicine </h2>
						<a mat-list-item routerLinkActive="active-list-item" routerLink='/pharmacy/addmedicine'>
							<mat-icon>local_hospital</mat-icon> &nbsp;
							<span> Add Medicine </span>
						</a>
						<a mat-list-item routerLinkActive="active-list-item" routerLink='/pharmacy/medicine-list'>
							<mat-icon>list_alt</mat-icon> &nbsp;
							<span> Medicine List </span>
						</a>
					</mat-nav-list>
					<mat-nav-list>
						<h2 matSubheader> Order Medicine </h2>
						<a mat-list-item routerLinkActive="active-list-item" routerLink='/pharmacy/ordermedicine'>
							<mat-icon>shopping_cart </mat-icon> &nbsp;
							<span>Order Medicine</span>
						</a>
						<a mat-list-item routerLinkActive="active-list-item" routerLink='/pharmacy/medicine-order-list'>
							<mat-icon>list_alt</mat-icon> &nbsp;
							<span>Order list</span>
						</a>
					</mat-nav-list>
					<mat-nav-list>
						<h2 matSubheader> Sales </h2>
						<a mat-list-item routerLinkActive="active-list-item" routerLink='/pharmacy/medicine-sale'>
							<mat-icon>shopping_cart</mat-icon> &nbsp;
							<span>New Sale</span>
						</a>
						<a mat-list-item routerLinkActive="active-list-item" routerLink='/pharmacy/sale-list'>
							<mat-icon>list_alt</mat-icon> &nbsp;
							<span>Sale List</span>
						</a>
					</mat-nav-list>					
				</mat-sidenav>
				<mat-sidenav-content id="content">
					<router-outlet></router-outlet>
				</mat-sidenav-content>
			</mat-sidenav-container>
		</div>
	</div>
</div>
