<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/login-style.css' %}" />
</head>
<style>
    .card-body {
    flex: none;
}
.form-control {
    padding: 1.375rem 3.75rem 1rem 1rem;
}
</style>
<body>
   <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Forgot Password</h3>
                    
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="email address" id ="email">
                            
                        </div>
                        
                        
                        <div class="form-group">
                            <button type="submit" value="Submit" class="btn float-right login_btn" id="loginsubmit"></button>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>



		<script>
        window.drf = {
          csrfHeaderName: "X-CSRFTOKEN",
          csrfCookieName: "csrftoken"
        };
      </script>


    <script src="{% static 'js/csrf.js' %}"></script>
  <script src="{% static 'js/apicals.js' %}"></script>
    <script src="{% static 'js/adminajax.js' %}"></script>
<script>

    $("#loginsubmit").on("click",function() {
        {#var eml = String($("#email").val());#}

            var newlogin_data = {

                "email": String($("#email").val()),

            };


        <!--var a={"email":"manoharsompalli@gmail.com","password":"manoharchow"};-->
            $.ajax({
         type: "POST",
         url: "/forgot_password/",
         data: JSON.stringify(newlogin_data),
         contentType: "application/json",
         dataType: "json",
         success: function (data, status) {
             window.location.pathname='/userlogin/';

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //Process error actions
                    alert( XMLHttpRequest.responseText);
                    console.log(XMLHttpRequest.status + ' ' +
                        XMLHttpRequest.statusText);
                    return false;
                  }
                })





    });


</script>

<script>

</script>




</body>
</html>