{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Inventory</title>
  <base href="/Hms/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="{% static 'inventory/static/styles.css' %}">
</head>

<body style="width: 100%;height: 100%;margin: 0;padding: 0;">
  <app-root>Loading...</app-root>
  <script type="text/javascript" src="{% static 'inventory/static/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'inventory/static/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'inventory/static/es2015-polyfills.js' %}" nomodule></script>
  <script type="text/javascript" src="{% static 'inventory/static/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'inventory/static/5.js' %}"></script>
</body>

</html>