<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Pharmacy</title>
    <base href="/hms/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>

  <body style="width: 100%;height: 100%;margin: 0;padding: 0;">
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="{% static 'pharmacy/5.js' %}"></script>
    <script type="text/javascript" src="{% static 'pharmacy/runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'pharmacy/polyfills.js' %}" nomodule></script>
    <script type="text/javascript" src="{% static 'pharmacy/es2015-polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'pharmacy/main.js' %}"></script>
  </body>
</html>