<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Patients List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/sb-admin.css'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<span id="watermark" style="font-size:1.64rem;" unselectable="on">Powered by <span style="font-size:1.64rem; color: #64c1b1">CYGEN GROUP</span></span>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href=#>HMS LAMJINGBA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">

            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item admin-name" data-toggle="tooltip" data-placement="right" title="Admin Name">

                    <span class="nav-link-text"><b style="font-size:16px">Laboratorist</b></span>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href='/labtechniciandashboard/'>
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="nav-link-text">Dashboard</span></a>
                </li>


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Laboratorist">
                    <a class="nav-link" style="background-color:#64c1b1;" href='/patients_list_view_laboratorist/'>
                        <i class="fa fa-flask" aria-hidden="true"></i>
                        <span class="nav-link-text">Lab Tests</span></a>
                </li>


            </ul>

            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">

                <li> <a onclick="window.location.pathname='/logout/'" data-toggle="modal" data-target="#exampleModal"
                        style="color:white;">
                        Logout</a>

                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="content-details">
                    <h3>Patients</h3>
                    <div class="row">
                        <div class="col-md-12 ">
                            <!-- <div class="btn add-btn right"><i class="fa fa-plus fa-lg adding patient-adduser"
                                        aria-hidden="true"></i>
                                </div> -->
                            <div class="Search">
                                <input id="myInput" type="search" class="patientinput form-control"
                                    data-table="order-table" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="manage-table">
                        <table class="table table-bordered table-striped order-table table"
                            style="    font-size: 13px;">
                            <thead>
                                <tr>
                                    <th>UHID</th>
                                    <th>Name</th>
                                    <th>Profile</th>
                                    <th>Manage Tests</th>
                                    <!-- <th>Summary</th>
                                    <th>Add Doctor</th>
                                    <th>Alloted Doctor</th>
                                    <th>Edit</th> -->

                                </tr>
                            </thead>
                            <tbody id="patientDetailsInLaboratory">
                                <tr id="patientDetailsInLaboratory">
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var pat_id = '{{ pat_id }}';
    </script>
    <script>
        window.drf = {
            csrfHeaderName: "X-CSRFTOKEN",
            csrfCookieName: "csrftoken"
        };

    </script>
    <script>
        (function (document) {
            'use strict';

            var LightTableFilter = (function (Arr) {

                var _input;

                function _onInputEvent(e) {
                    _input = e.target;
                    var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                    Arr.forEach.call(tables, function (table) {
                        Arr.forEach.call(table.tBodies, function (tbody) {
                            Arr.forEach.call(tbody.rows, _filter);
                        });
                    });
                }

                function _filter(row) {
                    var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                }

                return {
                    init: function () {
                        var inputs = document.getElementsByClassName('patientinput');
                        Arr.forEach.call(inputs, function (input) {
                            input.oninput = _onInputEvent;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function () {
                if (document.readyState === 'complete') {
                    LightTableFilter.init();
                }
            });

        })(document);

    </script>
    <script>
        $('#toggleNavPosition').click(function () {
            $('body').toggleClass('fixed-nav');
            $('nav').toggleClass('fixed-top static-top');
        });

    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sb-admin.js' %}"></script>
    <!-- <script src="{% static 'js/adminscript.js' %}"></script> -->
    <script src="{% static 'js/laboratoryDashboard.js' %}"></script>
    <script src="{% static 'js/adminajax.js' %}"></script>
</body>

</html>